img {
    border-radius: 10px;
}

.ad-banner {
    text-align: center;
    img {
        object-fit: cover;
        object-position: center;
    }
}

.aodai-left {
    margin-top: 50px;
    position: relative;
    img {
        margin-top: 50px;
        object-fit: cover;
        object-position: center;
    }
    p {
        position: absolute;
        bottom: -50px;
    }
}

.aodai-right {
    margin-top: 50px;
    h2 {
        font-weight: bold;
    }
    p {
        margin-top: 20px;
    }
}

.ad-1 {
    margin-top: 250px;
    flex-wrap: wrap;
    .img-text {
        text-align: center;
        img {
            object-fit: cover;
            object-position: center;
        }
        .adhs {
            margin-top: 5px;
        }
    }
    p {
        margin-top: 50px;
    }
}

.ad-2 {
    margin-top: 50px;
    flex-wrap: wrap;
    text-align: center;
    img {
        object-fit: cover;
        object-position: center;
    }
    .mrt {
        margin-top: 200px;
    }
    p {
        margin-top: 5px;
    }
}

.video-aodai {
    text-align: center;
    margin-top: 100px;
    h3 {
        font-weight: 900;
    }
    .vd-aodaivn {
        margin-top: 50px;
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
        #video {
            width: 100%;
            height: auto;
        }
    }
}

.thuvien {
    margin-top: 100px;
    h4 {
        font-weight: 900;
        position: relative;
        padding-left: 10px;
        border-left: 3px solid #B1907F;
    }
}

.thuvienanh {
    position: relative;
    column-count: 4;
    padding: 20px;
    .image {
        display: inline-block;
        margin-bottom: 10px;
        .myimg {
            object-fit: cover;
            object-position: center;
            width: 100%;
            cursor: zoom-in;
        }
        p {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.copyright {
    background-image: none;
}

@media screen and (max-width:992px) {
    .thuvienanh {
        column-count: 3;
    }
    .aodai-right {
        h2 {
            font-size: 28px;
        }
        p {
            font-size: 13px;
        }
    }
    .ad-1 {
        p {
            font-size: 13px;
        }
    }
}

@media screen and (max-width:768px) {
    .thuvienanh {
        column-count: 2;
    }
    .ad-1 {
        margin-top: 50px;
    }
    .ad-2 {
        .mrt {
            margin-top: 50px;
        }
    }
    .ad-banner {
        img {
            width: 90%;
        }
    }
}

@media screen and (max-width:576px) {
    .thuvienanh {
        column-count: 1;
    }
    .ad-banner {
        img {
            width: 90%;
        }
    }
}