img {
  border-radius: 10px;
}

.home .carousel-item {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.home .carousel-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.home .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.home .carousel-item .container h2 {
  font-size: 80px;
  color: #ffffff;
  margin: 0 0 10px;
  opacity: 0;
}

.home .carousel-item .container p {
  font-size: 30px;
  margin: 0;
  color: #eeeeee;
  opacity: 0;
}

.home .carousel-item .container .fix-naiyo-banner {
  text-align: left;
}

.home .carousel-item.active h2 {
  -webkit-animation: fadeInLeft 0.5s ease forwards;
          animation: fadeInLeft 0.5s ease forwards;
}

.home .carousel-item.active p {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
}

.home .carousel-controls {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home .carousel-indicators {
  position: relative;
  margin: 0;
}

.home .carousel-indicators li {
  height: 70px;
  width: 70px;
  margin: 0 5px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 3px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home .carousel-indicators li.active {
  border-color: #ffffff;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.home .carousel-control-next,
.home .carousel-control-prev {
  height: 60px;
  width: 60px;
  opacity: 1;
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home .carousel-control-next:hover,
.home .carousel-control-prev:hover {
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}

.home .carousel-control-next img,
.home .carousel-control-prev img {
  width: 30px;
}

.home .carousel-control-next {
  right: -90px;
}

.home .carousel-control-prev {
  left: -90px;
}

.atmb-left {
  margin-top: 50px !important;
}

.atmb-left h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.atmb-right {
  margin-top: 50px !important;
}

.atmb-right img {
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.banner-atmb {
  background: url(../imgs/atvn9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-atmb .content {
  width: 60%;
  background-image: url(../imgs/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 50px;
}

.atmt-left {
  margin-top: 100px !important;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.atmt-left img {
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 160px;
}

.atmt-right {
  margin-top: 50px !important;
}

.atmt-right h2 {
  text-align: center;
  font-weight: bold;
}

.banner-atmt {
  width: 100%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 50px !important;
}

.banner-atmt .nuatrai {
  width: 50%;
  height: 100%;
}

.banner-atmt .nuaphai {
  width: 50%;
  height: 100%;
  background-color: #C0C0C0;
}

.banner-atmt .content-atmt {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: 5px solid #ff8c00;
  padding-left: 50px;
}

.banner-atmt .content-atmt h2 {
  font-weight: bold;
}

.atmn-left {
  margin-top: 50px !important;
}

.atmn-left h2 {
  text-align: center;
  font-weight: bold;
}

.atmn-right {
  margin-top: 50px !important;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.atmn-right img {
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 15px;
}

.thuvien-amthuc {
  margin-top: 100px;
}

.thuvien-amthuc h3 {
  font-weight: 900;
  position: relative;
  padding-left: 10px;
  border-left: 3px solid #ff8c00;
}

.thuvienanh {
  position: relative;
  -webkit-column-count: 4;
          column-count: 4;
  padding: 20px;
}

.thuvienanh .image {
  display: inline-block;
  margin-bottom: 10px;
}

.thuvienanh .image a {
  text-decoration: none;
  color: black;
}

.thuvienanh .image .myimg {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.thuvienanh .image p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.copyright {
  background-image: none;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (max-width: 768px) {
  .home .carousel-control-next,
  .home .carousel-control-prev {
    display: none;
  }
  .home .carousel-indicators li {
    height: 60px;
    width: 60px;
  }
  .home .carousel-item h2 {
    font-size: 45px;
  }
  .home .carousel-item p {
    font-size: 22px;
  }
  .thuvienanh {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .banner-atmb .content {
    width: 85% !important;
  }
}

@media screen and (max-width: 992px) {
  .thuvienanh {
    -webkit-column-count: 3;
            column-count: 3;
  }
  .banner-atmb .content {
    width: 70%;
    padding: 15px 30px;
  }
}

@media screen and (max-width: 576px) {
  .thuvienanh {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .banner-atmb .content {
    font-size: 0.9em;
    padding: 5px 10px;
    width: 95% !important;
  }
}
/*# sourceMappingURL=atvn.css.map */